

@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
  font-family: Noto Sans TC;
  margin: 0;
  width: 100%;
  background: linear-gradient(to bottom, #72abab, #e4f1f5);
}

input[type="button"] {
  border: 0;
  background: #f2f2f2;
}
.title {
  font-size: 1.5em;
  padding: 1.5rem 2rem;
  width: 40vw;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  box-shadow: 0px 0px 6px 0px #000;
  border: 1px solid #000;
  background: #566e79;
  color: #ccc;
  letter-spacing: 8px;
}
.gitlab-link a {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
}
.gitlab-link {
  display: inline-block;
  margin: 0 1em;
  letter-spacing: 1px;
}
.gitlab-link:hover {
  /* transform-origin: 0 0; */
  transform: scale(1.5, 1.5);
}

.container {
  margin: 1em 2em;
  /* min-width: max-content; */
  /* width: 70%; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.panel-left {
  margin: 0em 1em;
}
.panel-left input {
  padding: 0.8em 1.4em;
  display: block;
  border-radius: 8px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 12px;
  margin-bottom: 4px;
  color: #fff;
  background: #1e965a;

  transition: 0.1s;
}
.panel-left input:focus{
  outline: none;
}
.panel-left input:hover{
  padding-left: 3.4em;
}
.panel-left input.using {
  padding-left: 3.8em;
}




.canvas-main {
  /* css width, height =//= html canvas's width, height, css attributes only result to deformation */
  /* width: 600px;
  height: 400px; */
  background: #eee;
  user-select: none;
  cursor: none;
  box-shadow: 0 0 6px 1px #000;
}


.panel-right {
  margin: 0 1em;
  color: #0f6066;
}
.panel-right a {
  text-decoration: none;
  color: #c321ba;;
}
.panel-right a:hover {
  text-decoration: none;
  color: #ec6daf;
}
.panel-right input[type="button"] {
  font-weight: 900;
  color: #ffffff;
  background: linear-gradient(to bottom, #4e92e7, #0f5cb9);
  padding: 0.5em 1em;
  border-radius: 11px;
  cursor: pointer;
}
.panel-right input[type="button"]:hover {
  background: linear-gradient(to bottom, #1a73c8, #1a58a1);
}
.panel-right input[type="button"]:focus {
  outline: none;
}
.panel-right input[type="button"]:active {
  background: linear-gradient(to bottom, #63b8e9, #22a0bc);
}

.tool-text {
  margin: 1em 0;
}
.tool-text > div {
  max-width: 420px;
  overflow-x: scroll;
  white-space: nowrap;
}
.tool-text canvas {
  border: 1px solid #000;
  background: #fff;
}

.cp-block1 {
  margin-bottom: 5px;
}
.cp-block1 > div {
  display: inline-block;
  vertical-align: top;
}
.colorPicker-1 {
  margin-right: auto;
  width: 200px;
  height: 200px;
  background: -webkit-linear-gradient(top, hsl(0, 0%, 100%) 0%, hsla(0, 0%, 100%, 0) 50%,
									hsla(0, 0%, 0%, 0) 50%, hsl(0, 0%, 0%) 100%),
        -webkit-linear-gradient(left, hsl(0, 0%, 50%) 0%, hsla(0, 0%, 50%, 0) 100%);
  /* set relative for cursor's absolute/top/left to refer to colorPicker, not to the document*/
  position: relative;
  user-select: none;
  border: 1px solid #aaa;
  box-sizing: border-box;
}
.colorPicker-1-cursor {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50;
  left: 50;
  border: 1px solid #fff;
  user-select: none;
}
.colorPicker-1-cursor:before {
  width: 8px;
  height: 8px;
  content:"";
  position: absolute;
  border-radius: 50%;
  border: 1px solid #000;
}
.colorPicker-2 {
  width: 360px;
  height: 20px;
  background: -webkit-linear-gradient(left, #F00 0%, #FF0 16.66%, #0F0 33.33%, #0FF 50%, #00F 66.66%, #F0F 83.33%, #F00 100%);
  user-select: none;
}
.colorPicker-2-cursor {
  width: 2px;
  position: relative;
  height: 100%;
  border: 1px solid #666;
  background: #fff;
  left: 0;
  user-select: none;
}
.colorPicker-data {
  margin-left: 4px;
  margin-top: 4px;
  font-size: 1rem;
}
.colorPicker-data span {
  display: inline-block;
  min-width: 1rem;
}
.colorPicker-data input {
  width: 3rem;
}
.colorPicker-preview {
  width: 75px;
  height: 50px;
  margin: 10px 0;
}

.set-strokeWidth {
  font-size: 0.8rem;
  margin: 1em 0;
}
.set-strokeWidth input {
  width: 150px;
}
.set-strokeWidth span, .set-strokeWidth input {
  vertical-align: middle;
}


.load-image img{
  cursor: pointer;
}


.draw-cursor {
  position: absolute;
  top: 0;
  left: 100;
  /* magic */
  pointer-events: none;
}